<div class="table-responsive">
  <table class="table align-items-center table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Post</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Likes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
            <th scope="row">
                <div class="media align-items-center">
                    <div class="avatar-group">
                      <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="<%= post.title %>">
                        <img alt="Image placeholder" src="<%= (url_for(post.photo))%>" class="rounded-circle">
                      </a>
                    </div>
                    <div class="media-body">
                        <span class="mb-0 text-sm"><%= post.id %></span>
                    </div>
                </div>
            </th>
            <td>
                <%= post.title %>
            </td>
            <td>
             <span class="badge badge-dot mr-4">
                   <%= post.description%>
                </span>
            </td>
            <td>
             <span class="badge badge-dot mr-4">
                  <i class="bg-warning"></i> pending
                </span>
            </td>
            <td>
              20
            </td>
              
            <td>
              4
            </td>
            
            <td class="text-right">
                <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <%= link_to 'Detalhes', post_path(post) , class: "dropdown-item" %>
                        <%= link_to 'Editar', edit_post_path(post), class: "dropdown-item" %>
                        <%= link_to 'Excluir', post ,method: :delete, data: { confirm: 'Tem certeza?' }, class: "dropdown-item" %></td>
                    </div>
                </div>
            </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
