<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Default Color</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="../../index.html">
                            <img src="../../assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav ml-lg-auto">
                <li>
                <li class="nav-item">           
                    <%=link_to "Home", root_path,class: "nav-link" %>
                </li>
                </li>
                <% if current_user%>
                    <li class="nav-item">           
                        <%=link_to "Deslogar", destroy_user_session_url,:method => :delete,class: "nav-link" %>
                    </li>
                    <%if current_user.is_admin%>    
                        <li class="nav-item">           
                            <%=link_to "Criar post", new_post_path,class: "nav-link" %>
                        </li>
                    <%end%>  

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>              
                <%else%>
                    <li class="nav-item ">
                        <%=link_to "Logar-se", new_user_session_path, class: "nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%=link_to "Registrar-se", new_user_registration_path, class: "nav-link"%>
                    </li>
                <%end%>
            </ul>
            
        </div>
    </div>
</nav>